@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
	font-family:Raleway ;
}
.navbar-collapse{
	justify-content: flex-end;
}

.header{
	background: url('https://occ-0-1722-1723.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABc8UmJY8LOeJry6ZCMlO6KGpzfneRbb4qZ0lza1lM3wc59YQnQPzEWLKBB38PtHwhFaSbBQ_fyGvpI7sJwQvV9VQdsM.jpg?r=0e7');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 1000px;
}

.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(169,169,169,0.35);
}

.description{
	position: absolute;
	top: 30%;
	margin: auto;
	padding: 7em;
}

.description h1, .description p{
	color: white;
	letter-spacing: 1em;
	line-height: 3em;
}

.description p{
	font-size: 1.5em;
}

.info{
	color: #343a40;
	padding-bottom: 4em;
}

.info h1, .cars h1, .tradeIn h1{
	padding-top: 2em;
	padding-bottom: 1em;
}

.info p{
	font-size: 1.25em;
}

.info .col-12{
	padding-left: 50px;
	padding-right: 50px;
}

.info_logo{
	border-right:2px solid black;
}

.cars{
	background: #343a40;
	color: black;
	padding-bottom: 4em;
}

.cars .col-12{
	background: #FFFAFA;
	padding: 2em;
	border: 5px solid #343a40 ;
}

.cars h3{
	color: #343a40 ;

}

.tradeIn{
	padding-bottom: 4em;
}

.products{
	background: #343a40;
	padding-bottom: 4em;
}

.products h1{
	padding-top: 2em;
	padding-bottom: 1em;
	color: white;
}

.team img{
   border: 5px solid #343a40;
}

.des, .contact{
	background: #343a40;
	color: white;
	padding: 10px;
}

.team h1{
	padding-top: 2em;
	padding-bottom: 1em;
}

.team{
	padding-bottom: 4em;
}
.des span{
	color: lightgray;
	font-size: 0.85em;
}

.contact{
	padding-bottom: 4em;
	padding-top: 5em;
}